/*
Hasura Storage

Hasura Storage is amazing

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// StorageAPIService StorageAPI service
type StorageAPIService service

type ApiFilesIdDeleteRequest struct {
	ctx context.Context
	ApiService *StorageAPIService
	id string
}

func (r ApiFilesIdDeleteRequest) Execute() (*http.Response, error) {
	return r.ApiService.FilesIdDeleteExecute(r)
}

/*
FilesIdDelete Delete a file

Delete a file

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiFilesIdDeleteRequest
*/
func (a *StorageAPIService) FilesIdDelete(ctx context.Context, id string) ApiFilesIdDeleteRequest {
	return ApiFilesIdDeleteRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *StorageAPIService) FilesIdDeleteExecute(r ApiFilesIdDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "StorageAPIService.FilesIdDelete")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/files/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiFilesIdGetRequest struct {
	ctx context.Context
	ApiService *StorageAPIService
	id string
	ifMatch *string
	ifNoneMatch *string
	ifModifiedSince *string
	ifUnmodifiedSince *string
	q *float32
	h *float32
	w *float32
	b *float32
}

// https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/If-Match
func (r ApiFilesIdGetRequest) IfMatch(ifMatch string) ApiFilesIdGetRequest {
	r.ifMatch = &ifMatch
	return r
}

// https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/If-None-Match
func (r ApiFilesIdGetRequest) IfNoneMatch(ifNoneMatch string) ApiFilesIdGetRequest {
	r.ifNoneMatch = &ifNoneMatch
	return r
}

// https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/If-Modified-Since
func (r ApiFilesIdGetRequest) IfModifiedSince(ifModifiedSince string) ApiFilesIdGetRequest {
	r.ifModifiedSince = &ifModifiedSince
	return r
}

// https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/If-Unmodified-Since
func (r ApiFilesIdGetRequest) IfUnmodifiedSince(ifUnmodifiedSince string) ApiFilesIdGetRequest {
	r.ifUnmodifiedSince = &ifUnmodifiedSince
	return r
}

// Quality of the image. Only applies to jpeg, webp and png files
func (r ApiFilesIdGetRequest) Q(q float32) ApiFilesIdGetRequest {
	r.q = &q
	return r
}

// Resize image up to h maintaining aspect ratio. Only applies to jpeg, webp and png files
func (r ApiFilesIdGetRequest) H(h float32) ApiFilesIdGetRequest {
	r.h = &h
	return r
}

// Resize image up to w maintaining aspect ratio. Only applies to jpeg, webp and png files
func (r ApiFilesIdGetRequest) W(w float32) ApiFilesIdGetRequest {
	r.w = &w
	return r
}

// Blur the image according to this sigma value. Only applies to jpeg, webp and png files
func (r ApiFilesIdGetRequest) B(b float32) ApiFilesIdGetRequest {
	r.b = &b
	return r
}

func (r ApiFilesIdGetRequest) Execute() (*http.Response, error) {
	return r.ApiService.FilesIdGetExecute(r)
}

/*
FilesIdGet Retrieve contents of file

Retrieve contents of file

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiFilesIdGetRequest
*/
func (a *StorageAPIService) FilesIdGet(ctx context.Context, id string) ApiFilesIdGetRequest {
	return ApiFilesIdGetRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *StorageAPIService) FilesIdGetExecute(r ApiFilesIdGetRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "StorageAPIService.FilesIdGet")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/files/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.q != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "q", r.q, "form", "")
	}
	if r.h != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "h", r.h, "form", "")
	}
	if r.w != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "w", r.w, "form", "")
	}
	if r.b != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "b", r.b, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/octet-stream"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "if-match", r.ifMatch, "simple", "")
	}
	if r.ifNoneMatch != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "if-none-match", r.ifNoneMatch, "simple", "")
	}
	if r.ifModifiedSince != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "if-modified-since", r.ifModifiedSince, "simple", "")
	}
	if r.ifUnmodifiedSince != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "if-unmodified-since", r.ifUnmodifiedSince, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiFilesIdHeadRequest struct {
	ctx context.Context
	ApiService *StorageAPIService
	id string
	ifMatch *string
	ifNoneMatch *string
	ifModifiedSince *string
	ifUnmodifiedSince *string
	q *float32
	h *float32
	w *float32
	b *float32
}

// https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/If-Match
func (r ApiFilesIdHeadRequest) IfMatch(ifMatch string) ApiFilesIdHeadRequest {
	r.ifMatch = &ifMatch
	return r
}

// https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/If-None-Match
func (r ApiFilesIdHeadRequest) IfNoneMatch(ifNoneMatch string) ApiFilesIdHeadRequest {
	r.ifNoneMatch = &ifNoneMatch
	return r
}

// https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/If-Modified-Since
func (r ApiFilesIdHeadRequest) IfModifiedSince(ifModifiedSince string) ApiFilesIdHeadRequest {
	r.ifModifiedSince = &ifModifiedSince
	return r
}

// https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/If-Unmodified-Since
func (r ApiFilesIdHeadRequest) IfUnmodifiedSince(ifUnmodifiedSince string) ApiFilesIdHeadRequest {
	r.ifUnmodifiedSince = &ifUnmodifiedSince
	return r
}

// Quality of the image. Only applies to jpeg, webp and png files
func (r ApiFilesIdHeadRequest) Q(q float32) ApiFilesIdHeadRequest {
	r.q = &q
	return r
}

// Resize image up to h maintaining aspect ratio. Only applies to jpeg, webp and png files
func (r ApiFilesIdHeadRequest) H(h float32) ApiFilesIdHeadRequest {
	r.h = &h
	return r
}

// Resize image up to w maintaining aspect ratio. Only applies to jpeg, webp and png files
func (r ApiFilesIdHeadRequest) W(w float32) ApiFilesIdHeadRequest {
	r.w = &w
	return r
}

// Blur the image according to this sigma value. Only applies to jpeg, webp and png files
func (r ApiFilesIdHeadRequest) B(b float32) ApiFilesIdHeadRequest {
	r.b = &b
	return r
}

func (r ApiFilesIdHeadRequest) Execute() (*http.Response, error) {
	return r.ApiService.FilesIdHeadExecute(r)
}

/*
FilesIdHead Retrieve information about a file

Retrieve information about a file

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiFilesIdHeadRequest
*/
func (a *StorageAPIService) FilesIdHead(ctx context.Context, id string) ApiFilesIdHeadRequest {
	return ApiFilesIdHeadRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *StorageAPIService) FilesIdHeadExecute(r ApiFilesIdHeadRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodHead
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "StorageAPIService.FilesIdHead")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/files/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.q != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "q", r.q, "form", "")
	}
	if r.h != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "h", r.h, "form", "")
	}
	if r.w != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "w", r.w, "form", "")
	}
	if r.b != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "b", r.b, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "if-match", r.ifMatch, "simple", "")
	}
	if r.ifNoneMatch != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "if-none-match", r.ifNoneMatch, "simple", "")
	}
	if r.ifModifiedSince != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "if-modified-since", r.ifModifiedSince, "simple", "")
	}
	if r.ifUnmodifiedSince != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "if-unmodified-since", r.ifUnmodifiedSince, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiFilesIdPresignedurlContentsGetRequest struct {
	ctx context.Context
	ApiService *StorageAPIService
	id string
	xAmzAlgorithm *string
	xAmzCredential *string
	xAmzDate *string
	xAmzExpires *string
	xAmzSignature *string
	xAmzSignedHeaders *string
	ifMatch *string
	ifNoneMatch *string
	ifModifiedSince *string
	ifUnmodifiedSince *string
	q *float32
	h *float32
	w *float32
	b *float32
}

// Use presignedurl endpoint to generate this automatically
func (r ApiFilesIdPresignedurlContentsGetRequest) XAmzAlgorithm(xAmzAlgorithm string) ApiFilesIdPresignedurlContentsGetRequest {
	r.xAmzAlgorithm = &xAmzAlgorithm
	return r
}

// Use presignedurl endpoint to generate this automatically
func (r ApiFilesIdPresignedurlContentsGetRequest) XAmzCredential(xAmzCredential string) ApiFilesIdPresignedurlContentsGetRequest {
	r.xAmzCredential = &xAmzCredential
	return r
}

// Use presignedurl endpoint to generate this automatically
func (r ApiFilesIdPresignedurlContentsGetRequest) XAmzDate(xAmzDate string) ApiFilesIdPresignedurlContentsGetRequest {
	r.xAmzDate = &xAmzDate
	return r
}

// Use presignedurl endpoint to generate this automatically
func (r ApiFilesIdPresignedurlContentsGetRequest) XAmzExpires(xAmzExpires string) ApiFilesIdPresignedurlContentsGetRequest {
	r.xAmzExpires = &xAmzExpires
	return r
}

// Use presignedurl endpoint to generate this automatically
func (r ApiFilesIdPresignedurlContentsGetRequest) XAmzSignature(xAmzSignature string) ApiFilesIdPresignedurlContentsGetRequest {
	r.xAmzSignature = &xAmzSignature
	return r
}

// Use presignedurl endpoint to generate this automatically
func (r ApiFilesIdPresignedurlContentsGetRequest) XAmzSignedHeaders(xAmzSignedHeaders string) ApiFilesIdPresignedurlContentsGetRequest {
	r.xAmzSignedHeaders = &xAmzSignedHeaders
	return r
}

// https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/If-Match
func (r ApiFilesIdPresignedurlContentsGetRequest) IfMatch(ifMatch string) ApiFilesIdPresignedurlContentsGetRequest {
	r.ifMatch = &ifMatch
	return r
}

// https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/If-None-Match
func (r ApiFilesIdPresignedurlContentsGetRequest) IfNoneMatch(ifNoneMatch string) ApiFilesIdPresignedurlContentsGetRequest {
	r.ifNoneMatch = &ifNoneMatch
	return r
}

// https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/If-Modified-Since
func (r ApiFilesIdPresignedurlContentsGetRequest) IfModifiedSince(ifModifiedSince string) ApiFilesIdPresignedurlContentsGetRequest {
	r.ifModifiedSince = &ifModifiedSince
	return r
}

// https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/If-Unmodified-Since
func (r ApiFilesIdPresignedurlContentsGetRequest) IfUnmodifiedSince(ifUnmodifiedSince string) ApiFilesIdPresignedurlContentsGetRequest {
	r.ifUnmodifiedSince = &ifUnmodifiedSince
	return r
}

// Quality of the image. Only applies to jpeg, webp and png files
func (r ApiFilesIdPresignedurlContentsGetRequest) Q(q float32) ApiFilesIdPresignedurlContentsGetRequest {
	r.q = &q
	return r
}

// Resize image up to h maintaining aspect ratio. Only applies to jpeg, webp and png files
func (r ApiFilesIdPresignedurlContentsGetRequest) H(h float32) ApiFilesIdPresignedurlContentsGetRequest {
	r.h = &h
	return r
}

// Resize image up to w maintaining aspect ratio. Only applies to jpeg, webp and png files
func (r ApiFilesIdPresignedurlContentsGetRequest) W(w float32) ApiFilesIdPresignedurlContentsGetRequest {
	r.w = &w
	return r
}

// Blur the image according to this sigma value. Only applies to jpeg, webp and png files
func (r ApiFilesIdPresignedurlContentsGetRequest) B(b float32) ApiFilesIdPresignedurlContentsGetRequest {
	r.b = &b
	return r
}

func (r ApiFilesIdPresignedurlContentsGetRequest) Execute() (*http.Response, error) {
	return r.ApiService.FilesIdPresignedurlContentsGetExecute(r)
}

/*
FilesIdPresignedurlContentsGet Retrieve contents of file

Retrieve contents of file

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiFilesIdPresignedurlContentsGetRequest
*/
func (a *StorageAPIService) FilesIdPresignedurlContentsGet(ctx context.Context, id string) ApiFilesIdPresignedurlContentsGetRequest {
	return ApiFilesIdPresignedurlContentsGetRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *StorageAPIService) FilesIdPresignedurlContentsGetExecute(r ApiFilesIdPresignedurlContentsGetRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "StorageAPIService.FilesIdPresignedurlContentsGet")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/files/{id}/presignedurl/contents"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xAmzAlgorithm == nil {
		return nil, reportError("xAmzAlgorithm is required and must be specified")
	}
	if r.xAmzCredential == nil {
		return nil, reportError("xAmzCredential is required and must be specified")
	}
	if r.xAmzDate == nil {
		return nil, reportError("xAmzDate is required and must be specified")
	}
	if r.xAmzExpires == nil {
		return nil, reportError("xAmzExpires is required and must be specified")
	}
	if r.xAmzSignature == nil {
		return nil, reportError("xAmzSignature is required and must be specified")
	}
	if r.xAmzSignedHeaders == nil {
		return nil, reportError("xAmzSignedHeaders is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "X-Amz-Algorithm", r.xAmzAlgorithm, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "X-Amz-Credential", r.xAmzCredential, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "X-Amz-Date", r.xAmzDate, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "X-Amz-Expires", r.xAmzExpires, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "X-Amz-Signature", r.xAmzSignature, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "X-Amz-SignedHeaders", r.xAmzSignedHeaders, "form", "")
	if r.q != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "q", r.q, "form", "")
	}
	if r.h != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "h", r.h, "form", "")
	}
	if r.w != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "w", r.w, "form", "")
	}
	if r.b != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "b", r.b, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/octet-stream"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "if-match", r.ifMatch, "simple", "")
	}
	if r.ifNoneMatch != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "if-none-match", r.ifNoneMatch, "simple", "")
	}
	if r.ifModifiedSince != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "if-modified-since", r.ifModifiedSince, "simple", "")
	}
	if r.ifUnmodifiedSince != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "if-unmodified-since", r.ifUnmodifiedSince, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiFilesIdPresignedurlGetRequest struct {
	ctx context.Context
	ApiService *StorageAPIService
	id string
}

func (r ApiFilesIdPresignedurlGetRequest) Execute() (*FileMetadata, *http.Response, error) {
	return r.ApiService.FilesIdPresignedurlGetExecute(r)
}

/*
FilesIdPresignedurlGet Retrieve presigned URL to retrieve the file

Retrieve presigned URL to retrieve the file. Expiration of the URL is
determined by bucket configuration


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiFilesIdPresignedurlGetRequest
*/
func (a *StorageAPIService) FilesIdPresignedurlGet(ctx context.Context, id string) ApiFilesIdPresignedurlGetRequest {
	return ApiFilesIdPresignedurlGetRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return FileMetadata
func (a *StorageAPIService) FilesIdPresignedurlGetExecute(r ApiFilesIdPresignedurlGetRequest) (*FileMetadata, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *FileMetadata
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "StorageAPIService.FilesIdPresignedurlGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/files/{id}/presignedurl"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiFilesIdPutRequest struct {
	ctx context.Context
	ApiService *StorageAPIService
	id string
	metadata *UpdateFileMetadata
	file *interface{}
}

func (r ApiFilesIdPutRequest) Metadata(metadata UpdateFileMetadata) ApiFilesIdPutRequest {
	r.metadata = &metadata
	return r
}

// New contents of the file to upload.
func (r ApiFilesIdPutRequest) File(file interface{}) ApiFilesIdPutRequest {
	r.file = &file
	return r
}

func (r ApiFilesIdPutRequest) Execute() (*FileMetadata, *http.Response, error) {
	return r.ApiService.FilesIdPutExecute(r)
}

/*
FilesIdPut Replace an existing file with a new one

Replace the contents of an existing file. The workflow to replace a file is as follows:
  1. Set isUploaded flag to false
  2. Replace contents of the file in the storage backend
  3. Update file metadata (size, mime-type, isUploaded, etc)

Each individual state is atomic but if a step fails, previous steps won't be undone


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiFilesIdPutRequest
*/
func (a *StorageAPIService) FilesIdPut(ctx context.Context, id string) ApiFilesIdPutRequest {
	return ApiFilesIdPutRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return FileMetadata
func (a *StorageAPIService) FilesIdPutExecute(r ApiFilesIdPutRequest) (*FileMetadata, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *FileMetadata
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "StorageAPIService.FilesIdPut")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/files/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.metadata != nil {
		paramJson, err := parameterToJson(*r.metadata)
		if err != nil {
			return localVarReturnValue, nil, err
		}
		localVarFormParams.Add("metadata", paramJson)
	}
	if r.file != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "file", r.file, "form", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiFilesPostRequest struct {
	ctx context.Context
	ApiService *StorageAPIService
	bucketId *string
	metadata *[]UploadFileMetadata
	file []*os.File
}

// Bucket to upload the files to
func (r ApiFilesPostRequest) BucketId(bucketId string) ApiFilesPostRequest {
	r.bucketId = &bucketId
	return r
}

// (Optional) Set the following metadata for the uploaded files instead of letting the server do it automatically. See \\\&quot;UploadFileMetadata\\\&quot;.
func (r ApiFilesPostRequest) Metadata(metadata []UploadFileMetadata) ApiFilesPostRequest {
	r.metadata = &metadata
	return r
}

// Array of files to upload.
func (r ApiFilesPostRequest) File(file []*os.File) ApiFilesPostRequest {
	r.file = file
	return r
}

func (r ApiFilesPostRequest) Execute() (*FilesPost200Response, *http.Response, error) {
	return r.ApiService.FilesPostExecute(r)
}

/*
FilesPost Upload one or more files

You can upload more than one file by sending several file[]. Sending the metadata[] for files is optional but if you are uploading many files you need to either specify the metadata for all or for none.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiFilesPostRequest
*/
func (a *StorageAPIService) FilesPost(ctx context.Context) ApiFilesPostRequest {
	return ApiFilesPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return FilesPost200Response
func (a *StorageAPIService) FilesPostExecute(r ApiFilesPostRequest) (*FilesPost200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *FilesPost200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "StorageAPIService.FilesPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/files/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.bucketId != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "bucket-id", r.bucketId, "", "")
	}
	if r.metadata != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "metadata[]", r.metadata, "", "csv")
	}
	var fileLocalVarFormFileName string
	var fileLocalVarFileName     string
	var fileLocalVarFileBytes    []byte

	fileLocalVarFormFileName = "file[]"
	fileLocalVarFile := r.file

	if fileLocalVarFile != nil {
		// loop through the array to prepare multiple files upload
		for _, fileLocalVarFileValue := range fileLocalVarFile {
			fbs, _ := io.ReadAll(fileLocalVarFileValue)

			fileLocalVarFileBytes = fbs
			fileLocalVarFileName = fileLocalVarFileValue.Name()
			fileLocalVarFileValue.Close()
			formFiles = append(formFiles, formFile{fileBytes: fileLocalVarFileBytes, fileName: fileLocalVarFileName, formFileName: fileLocalVarFormFileName})
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
